@model cm.Models.Company

@{
    ViewData["Title"] = "Index";
    
}


<p>
    <button type="button" id="CreateNew" class="btn btn-primary">Create New</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().MobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().WorkPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().HomePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().MailingStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().MailingCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().MailingState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().MailingCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().MailingZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().CreateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts.FirstOrDefault().CreateBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contacts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobilePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MailingStreet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MailingCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MailingState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MailingCountry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MailingZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateBy.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContactId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ContactId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ContactId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>


    $('#CreateNew').click(function () {


        showModal('/CompanyContact/Create?CompanyId=@Model.CompanyId');


    });



</script>
