@model cm.Models.Note

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Note</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateBy.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NoteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
