@model cm.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingAddressStreet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingAddressStreet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingAddressCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingAddressCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCopyBillingAddressToShippingAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCopyBillingAddressToShippingAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddressStreet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingAddressStreet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddressCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingAddressCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateBy.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompanyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
